
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Areas/Berber/Views/_BerberLayout.cshtml";
}
<div class="col-sm-12" style="text-align:center">
    <img style="max-width: 60%;text-align:center" src="~/Common/BerberPanel/saloneklee.png" />
</div>


