
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Panel Giriş</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BerberimAdminLogin/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="~/common-files/images/favicon.png" type="image/png">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BerberimAdminLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BerberimAdminLogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BerberimAdminLogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BerberimAdminLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BerberimAdminLogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BerberimAdminLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BerberimAdminLogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BerberimAdminLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/BerberimAdminLogin/css/main.css">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image:url('../../../../BerberimAdminLogin/images/bg-01.jpg');">
                    <span class="login100-form-title-1">
                        Oturum Aç
                    </span>
                </div>
                <form class="login100-form validate-form" style="background-color: white" method="post" action="@Url.Action("AdminGiris", "Home")">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                        <span class="label-input100" style="width:90px !important">Email</span>
                        <input class="input100" type="text" name="email" placeholder="Email">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Şifre</span>
                        <input class="input100" type="password" name="sifre" placeholder="Şifre">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="flex-sb-m w-full p-b-30">
                        @ViewBag.girismesaj
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Giriş yap
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="~/BerberimAdminLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/BerberimAdminLogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/BerberimAdminLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/BerberimAdminLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/BerberimAdminLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/BerberimAdminLogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/BerberimAdminLogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/BerberimAdminLogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/BerberimAdminLogin/js/main.js"></script>
</body>
</html>

