@model IEnumerable<Berberim.Data.Models.SALON>
@{
    ViewBag.Title = "BerberKayıt";
    Layout = "~/Areas/Admin/Views/_AdminSayfa.cshtml";
}


@using (Html.BeginForm("BerberKayıt", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        @foreach (var item in Model)
        {

        <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">@item.ADSOYAD</label>
                <div class="col-md-4">
                    <span class="help-block">@item.EMAIL @item.TELEFON</span>
                </div>
                <div class="col-md-4">
                    <input type="hidden" name="id" value="@item.ID" />
                    <input type="submit" name="gonder" value="Onayla" class="btn btn-success"/>
                </div>
            </div>
        }
    </fieldset>
}
