@model Berberim.Data.Models.MUSTERI
@{
    ViewBag.Title = "MusteriGuncelle";
    Layout = "~/Areas/Admin/Views/_AdminSayfa.cshtml";
}


@using (Html.BeginForm())
{
    <p>İsActive</p>
    @Html.TextBox("STATUS" , new { @class = "form-control" })
    <br />
    <input type="submit" name="guncelle" value="Değiştir" class="btn btn-success" />

}