


<html lang="en">
<head>
    
    <title>Bize Ulaşın</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/MailCss/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MailCss/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MailCss/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MailCss/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MailCss/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MailCss/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MailCss/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MailCss/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MailCss/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/MailCss/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/MailCss/css/main.css">
    <!--===============================================================================================-->
</head>

<body>  
    <div class="container-contact100">
        <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="~/MailCss/images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

        <div class="wrap-contact100">
            <span class="contact100-form-symbol">
                <img src="~/MailCss/images/icons/symbol-01.png" alt="SYMBOL-MAIL">
            </span>

            <form class="contact100-form validate-form flex-sb flex-w">
                <span class="contact100-form-title">
                    Bize Ulaşın
                </span>

                <div class="wrap-input100 rs1 validate-input" data-validate="Name is required">
                    <input class="input100" type="text" name="name" placeholder="İsim">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 rs1 validate-input" data-validate="Email is required: e@a.z">
                    <input class="input100" type="text" name="email" placeholder="E-Posta">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Message is required">
                    <textarea class="input100" name="message" placeholder="Mesajınız"></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        Gönder
                    </button>
                </div>
            </form>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/MailCss/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/MailCss/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/MailCss/vendor/bootstrap/js/popper.js"></script>
    <script src="~/MailCss/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/MailCss/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/MailCss/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/MailCss/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/MailCss/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/MailCss/js/map-custom.js"></script>
    <!--===============================================================================================-->
    <script src="~/MailCss/js/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  
   
</body>
</html>